<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <meta charset="utf-8" />
  </head>
  <body>
    <iframe
      width="600"
      height="450"
      style="border: 0"
      loading="lazy"
      allowfullscreen
      referrerpolicy="no-referrer-when-downgrade"
      src="https://www.google.com/maps/embed/v1/place?key=&q=Dublin,Ireland"
    >
    </iframe>
    <ul>
      {% for row in data %}
      <li>{{ row[1] }} ({{ row[2] }}, {{ row[3] }})</li>
      {% endfor %}
    </ul>
  </body>
</html>
