<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dublin Bikes Stations</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      function loadMapScript() {
        var script = document.createElement('script');
        script.src = 'https://maps.googleapis.com/maps/api/js?key=API_KEY_HERE&callback=initMap';
        script.async = true;
        script.defer = true;
        document.body.appendChild(script);
      }

      window.onload = loadMapScript;
</script>
    <style>
        #map {
            height: 400px;
            width: 100%;
        }
    </style>
</head>
<body>
    <h1>Dublin Bikes Stations</h1>
    <div id="map"></div>
    <script>
        const bikeData = {{ bike_data|tojson }};
    </script>
<script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>
